.card-set-name {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}
.card-name {
  text-align: center;
}
.card-single {
  display: inline-block;
  max-width: 223px;
  margin: 20px 30px 20px 10px;
}