.header {
    height: 160px;
    border-bottom: 2px solid grey;
    background-color: #096F91;
}

.header-menu {
    margin: auto;
    padding: 20px 20px;
    width: 35%;
}

.header-menu-wrapper-left {
    float: left;
}

.header-menu-wrapper-right {
    float: right;
    margin-right: 100px;
}

.header-menu-item {
    display: inline-block;
    padding: 0 5px 0 0;
}

.header-menu-item,
.card-set-dropdown,
.card-set-dropdown-item {
    color: #993333;
}

.card-set-dropdown::-ms-expand {
    display: none;
}

.drop-down {
    display: inline-block;
}

.card-set-dropdown,
.card-set-dropdown-item {
    cursor: pointer;
}

.card-set-dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 2px 30px 2px 2px;
}

.dropdown-toggle::after {
  display:none;
}

.card-set-dropdown,
.card-set-dropdown-item {
    font-size: 12px;
    width: 250px;
    text-align: left;
    background: #75a1af;
    padding: 2px 2px 2px 7px;
}

.dropdown-menu,
.card-set-dropdown,
.card-set-dropdown-item {
    border: 0;
}

.dropdown-menu {
    padding: 0;
}

.header-menu-item-ref {
    cursor: pointer;
}

.header-menu-item-ref>span:hover,
.card-set-dropdown:hover,
.card-set-dropdown-item:hover {
    color: black;
    text-shadow: 1px 0.1px #661515;
}

.dropdown-menu {
  overflow-y: auto;
  max-height: 305px;
}
.dropdown-menu::-webkit-scrollbar
{
    width: 3.5px;
    background-color:#75a1af;
    margin-left: -20px;
}
.dropdown-menu::-webkit-scrollbar-thumb
{
    height:40px;
    background-color: #661515;
}
