<div id="header">
  <div id="header-menu">
    <div id="header-menu-wrapper-left">
      <div class="header-menu-item" (click)="homeClick()"><span>Home</span></div>
      <div class="header-menu-item">
        <div ngbDropdown>
          <button id="card-set-dropdown-toggle" ngbDropdownToggle>sets</button>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="card-set-dropdown-toggle">
            <button class="dropdown-item" *ngFor="let set of cardSets">
              {{set.name}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="header-menu-wrapper-right">
      <div class="header-menu-item"><span>Login</span></div>
    </div>
  </div>
</div>
